@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  border: 0;
  padding: 0;

}

:root {
--light-green:#9AFD89;
--gray: #455043;
--light-gray:#DAFCD4;
--dark-green:#4C7D43;
--white:#FDF7F2;
}

body {
  font-family: 'Pacifico', cursive;
  display: block;
  height: 100vh;
  /* background-position: center; */
  background-size: cover;
}

h1 {
  color: var(--white);
  font-size: 70px;
  margin: 0 auto;
}

.content p {

  font-size: 25px;
  margin-left: 10px;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 350px;
}

.about {
  margin: 60px auto;
  width: 50%;

}
p {
  color: var(--white);
  font-size: 18px;

}

h2 {
  color: var(--light-gray);
  font-size: 32px;


}

.quotes {
  width: 100%;
  background-color: var(--dark-green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
.quotes p{

  font-size: 18px;
  color: var(--white);
}

.icons a{

  font-size: xx-large;
  color: beige;
  text-decoration: none;
  padding: 8px;
}
.icons a:hover{
  color: rgb(219, 219, 197);
}
